.container {
    display:grid;
    gap:10px;
    height:100vh;
    grid: auto;
}
.header {
    grid-column: 1/13;
    padding:10px;
    border:3px solid red;
    
}
.sidebar{
    grid-area: 2/1/11/4;
    padding:10px;
    border:3px solid red;
}
.navigation{
    grid-area: 2/4/3/11;
    padding:10px;
    border:3px solid red;
}
.main{
    grid-area:3/4/11/11 ;
    padding:10px;
    border:3px solid red;
    
}
.ads{
    grid-area:2/11/11/13;
    padding:10px;
    border:3px solid red;
    
}
.footer{
    grid-column: 1/13;
    padding:10px;
    border:3px solid red; 
}
